Serie 3/Broker/StandAuto/Service References/CLIENT/ClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ISEL.CLIENT" elementFormDefault="qualified" targetNamespace="http://ISEL.CLIENT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="submitProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitProposalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>