Serie 3/Broker/ClientForm_2/Service References/Broker/BrokerClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ISEL.BROKER.STAND" elementFormDefault="qualified" targetNamespace="http://ISEL.BROKER.STAND" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registerStand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="standEndpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerStandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>